.project-card-conatiner {
  background-color: #2f3136;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-card-conatiner .card-tittle {
  background: linear-gradient(
    to right,
    #ff5757,
    #ffb53f,
    #fff100,
    #9ae900,
    #816aff,
    #ff0040
  );
  color: #2f3136;

  font-size: 70px;
  margin-top: 1rem;
  font-weight: 100;
  letter-spacing: 0.2em;

  -webkit-background-clip: text;

  -webkit-text-stroke: 0.1em transparent;
}

.card-wrapper {
  margin: 5rem;
}

.card-first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
}
.card-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
}

@media (max-width: 900px) {
  .card-first {
    flex-direction: column;
  }
  .card-second {
    flex-direction: column;
  }
}
