.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;

  transition: 200ms;
  background-color: #2f3136;
  width: 330px;
}
.card-container:hover {
  transition: 200ms;
  transform: scale(1.02);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  height: 150px;
  width: 330px;
  display: flex;
  border: 1px solid white;
  border-bottom: none;
  justify-content: center;
  align-items: center;

  background-color: #2f3136;
  color: aliceblue;
}

.card-text-container {
  height: 250px;
  width: 330px;
  text-align: center;
  padding-top: 10px;

  border: 1px solid white;
  border-top: none;
  background-color: #27292d;
}

.card-text-container h2 {
  color: var(--third-color);
}

.card-text-container p {
  margin: 5px;
  color: whitesmoke;
  font-size: large;
}

.card-text-container button {
  margin-top: 10px;
}

.card-text-container p span {
  font-size: large;
  font-weight: bolder;
  color: var(--third-color);
}
