.card2 {
  height: 350px;
  width: 300px;
  transition: all 1s ease;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 10px;
  user-select: none;
}

.front {
  height: 100%;
  width: 100%;
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 2;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card2-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.back {
  height: 100%;
  width: 100%;
  padding: 15px;
  position: absolute;
  font-size: 1.2rem;
  z-index: 1;
  transform: rotateY(180deg);
  border-radius: 10px;
  color: black;
}

.back p {
  font-weight: 500;
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card2-container:hover .card2 {
  transform: rotateY(180deg);
}

.card2-container {
  perspective: 1000px;
  margin: 10px;
}

.back span {
  font-weight: bolder;
  font-size: 1.5rem;
}
.back button {
  position: absolute;
  bottom: 30px;
  left: 35%;
}
.yellow {
  background-color: #ffee93;
}

.purple {
  background-color: #e0bbe4;
}
.light-green {
  background-color: #adf7b6;
}
