.first-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  width: 100%;
  padding: 3rem;
}
.bg-dark {
  background-color: var(--first-color);
}

.hero-container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--second-color);
  padding: 5rem;
  width: 95%;
}
.hero-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--second-color);
  padding: 5rem;
  width: 95%;
}

.text-wrapper {
  color: var(--secondry-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3rem;
  margin-left: 20px;
}
.text-wrapper h1 {
  font-size: 35px;
  font-weight: 90;
  animation: slide-up 1s 1 ease;
}

.text-wrapper span {
  color: var(--third-color);
  font-family: "Dancing Script", cursive;
  font-size: 60px;
}
.image-wrapper {
  padding: 0px 3rem;
  color: var(--secondry-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.image-content img {
  width: 300px;
  height: 300px;
  animation: slide-up 1s 1 ease;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .first-hero-section {
    padding: 2rem 0px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem 0px;
    background-color: transparent;
  }
  .hero-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 2rem 0px;
    background-color: transparent;
  }
  .text-wrapper {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0%;
    position: inherit;
  }

  .image-wrapper {
    margin: 0%;
    padding: 0;
  }
  .image-animation {
    animation: none;
  }

  .text-wrapper h1 {
    font-size: 35px;
    font-weight: 300;
  }
}
