* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --first-color: rgb(47, 49, 54);
  --second-color: rgb(32, 33, 36, 0.5);
  --third-color: rgb(0, 191, 166);
  --secondry-color: white;
}
